/*GENERAL*/
html{
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}
*,*:before,*:after{
	box-sizing: inherit;
}
body{
	margin:0;
}
.red-gradient{
	background: rgb(255,38,38);
	background: linear-gradient(0deg, rgba(255,38,38,1) 30%, rgba(255,255,255,1) 80%);
}
.yellow-gradient{
	background: rgb(246,205,0);
	background: linear-gradient(0deg, rgba(246,205,0,1) 10%, rgba(255,255,255,1) 80%);
}
.green-gradient{
	background: rgb(52,199,43);
	background: linear-gradient(0deg, rgba(52,199,43,1) 30%, rgba(255,255,255,1) 80%);
}
.blue-gradient{
	background: rgb(0,70,206);
	background: linear-gradient(0deg, rgba(0,70,206,1) 30%, rgba(255,255,255,1) 80%);
}
.violet-gradient{
	background: rgb(167,42,206);
 	background: linear-gradient(0deg, rgba(167,42,206,1) 30%, rgba(255,255,255,1) 80%);
}
/*Header*/
.cover{
	height: 175px;
	background: url('../img/cover.jpg') 0 no-repeat;
	background-size: 100%;
}
.group{
	margin: 0;
}
.group::after {
  content: "";
  clear: both;
  display: table;
 }
.cover img{
	max-width: 233px;
	margin-left: 192px;
}
li{
	list-style-type: none;
	font-size: 2em;
	font-weight: 500;
}
menu{
	margin:0 0 10px 152px;
	padding:0;
}
menu li{
	float:left;
	width: 232px;
	margin-top: 10px;
}
menu a{
	transition: all .5s;
}
a{
	text-decoration: none;
	display: block;
	transition: all .5s;
}
.aktuality{
    padding: 20px 20px 10px 20px;
    border-bottom: 10px solid #FF0000;
    text-align: center;
    color:#FF0000 ;
}
.aktuality:hover{
	background: #FF0000;
	color: #fff;
}
.aktuality-selected{
	padding: 20px 20px 10px 20px;
    border-bottom: 10px solid #FF0000;
    text-align: center;
	background:#FF0000 ;
	color:#fff ;
}
.lecebna{
	padding: 20px 20px 10px 20px;
	margin-left:10px;
    border-bottom: 10px solid #F6CD00;
    text-align: center;
    color:#F6CD00 ;
}
.lecebna:hover{
	background: #F6CD00;
	color:#fff;
}
.lecebna-selected{
	padding: 20px 20px 10px 20px;
	margin-left:10px;
    border-bottom: 10px solid #F6CD00;
    text-align: center;
	background:#F6CD00 ;
	color: #fff;
}
.info{
	padding: 20px 20px 10px 20px;
	margin-left:10px;
    border-bottom: 10px solid #34C72B;
    color:#34C72B;
    text-align: center;
}
.info:hover{
	background: #34C72B;
	color: #fff;
}
.info-selected{
	padding: 20px 20px 10px 20px;
	margin-left:10px;
    border-bottom: 10px solid #34C72B;
    color:#fff;
	background: #34C72B;
    text-align: center;
}
.procedury{
	padding: 20px 20px 10px 20px;
	margin-left:10px;
    border-bottom: 10px solid #0046CE;
    color:#0046CE;
    text-align: center;
}
.procedury:hover{
	background: #0046CE;
	color: #fff;
}
.procedury-selected{
	padding: 20px 20px 10px 20px;
	margin-left:10px;
    border-bottom: 10px solid #0046CE;
    color:#fff;
	background: #0046CE;
    text-align: center;
}
.foto{
	padding: 20px 20px 10px 20px;
	margin-left:10px;
    border-bottom: 10px solid #A72ACE;
    color:#A72ACE;
    text-align: center;
}
.foto:hover{
	background: #A72ACE;
	color: #fff;
}
.foto-selected{
	padding: 20px 20px 10px 20px;
	margin-left:10px;
    border-bottom: 10px solid #A72ACE;
    color:#fff;
	background: #A72ACE;
    text-align: center;
}
/*Content*/
.main{
	margin-left:192px;
	float: left;
}
.article{
	width:1160px;
	padding:10px 97px 20px 97px;
	margin-bottom: 10px;
}
hr{
	display: block;
    height: 1px;
    border: 0;
    padding-bottom: 5px;
}
.red{
	background: #FFD5D5;
}
.red hr{
	border-top: 1px solid #FF0000;
}
.yellow,.yellow h1{
	background: #fff5c7;
	color:#000;
}
.yellow hr{
	border-top:1px solid #F6CD00 ;
}
.article a:hover{
	text-decoration: underline;
}
.green{
	background: #dbffd9;
}
.green h1{
	color:#34C72B;
}
.green hr{
	border-top:1px solid #34C72B;
}
.blue{
	background:#b8d0ff;
}
.blue h1{
	color:#0046CE;
}
.blue hr{
	border-top:1px solid #0046CE;
}
.violet{
	background: #f2c7ff;
}
.violet h1{
	color: #A72ACE;
}
.violet hr{
	border-top:1px solid #A72ACE;
}
h1{
	color:#FF0000;

	font-size: 1.5em;
	font-weight: 500;
}
h1:after{
	width:10%;
	height:3px;
	background:#FF0000;
	content:"";
}
blockquote{
	font-style: italic;
	color: #0046CE;
	font-weight: 600;
}
.article img{
	margin: 3px;
	float: left;
	max-width: 966px;
}
.article.red img{
	border: 3px solid #FF0000;
}
.article.yellow img{
	border: 3px solid #F6CD00;
}
.article.green img{
	border: 3px solid #34C72B;
}
.article.blue img{
	border: 3px solid #0046CE;
}
.article.violet img{
	border: 3px solid #A72ACE;
}
p{
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
}
em{
	font-weight: 600;
}
.red strong{
	color:#FF0000 ;
	text-decoration: underline;
}
.yellow strong{
	color:#000 ;
	text-decoration: underline;
}
.green strong{
	color:#000;
	text-decoration: underline;
}
.blue strong{
	color:#0046CE;
	text-decoration: underline;
}
.violet strong{
	color:#A72ACE;
	text-decoration: underline;
}
.red a{
	color:#FF0000 ;
	font-weight: 700;
}
.yellow a{
	color:#c2a000 ;
	font-weight: 700;
}
.green a{
	color:#34C72B;
	font-weight: 700;
}
.blue a{
	color:#0046CE;
	font-weight: 700;
}
.violet a{
	color:#A72ACE;
	font-weight: 700;
}
.article-list li{
	list-style-type: square;
	font-size: 16px;
	font-weight: normal;
	margin-top: 10px;
}
.button{
	border: 1px solid #34C72B;
	text-align: center;
	display: inline-block;
	margin-left: 35%;
	font-size: 25px;
	padding: 10px;
	background:#34C72B;
}
.button a{
	color: #fff;
}
.button:hover{
	background:#dbffd9 ;
	border: 1px solid #34C72B;
}
.button a:hover{
	color: #34C72B;
	text-decoration: none;
}
dt{
	font-weight: 600;
	text-decoration: underline;
}
dd{
	display: list-item;
	list-style-type: square;
	margin-top: 10px;
}
table{
	border-collapse: collapse;
	padding: 20px;
}
th,td{
	padding: 5px;
}
td img{
	max-width: 460px;
}
.th-red,.td-red{
	border: 3px solid #FF0000;
}
.th-green,.td-green{
	border: 3px solid #34C72B;
}
.th-blue,.td-blue{
	border: 3px solid #0046CE;
}
.small{
	font-size: 15px;
	color: #0046CE;
	margin: 0;
}
.small-black{
	font-size: 15px;
	line-height: 15px;
	margin-top: 0;
}
.sidebar{
	float: right;
	width: 345px;
	margin-right: 192px;
}
.red-sidebar img{
	width: 30px;
	position: absolute;
	left: 10px;
	top: -5px;
}
.sidebar ul{
	margin: 0;
	padding: 0;
}
.sidebar li{
	margin-bottom: 8px;
	height: 55px;
	background: #fff;
	transition: all .5s;
}
.red-sidebar li{
	border: 3px solid #FF0000;
}
.red-sidebar li:hover{
	border: none;
	border-bottom: 3px solid #FF0000;
	border-top: 3px solid #FF0000
}
.yellow-sidebar li{
	border:3px solid #F6CD00  ;
	background:#fff;
}
.yellow-sidebar li:hover{
	border: none;
	border-bottom: 3px solid #F6CD00;
	border-top: 3px solid #F6CD00;
}
.green-sidebar li{
	border: 3px solid #34C72B;
}
.green-sidebar li:hover{
	border: none;
	border-bottom: 3px solid #34C72B;
	border-top: 3px solid #34C72B;
}
.blue-sidebar li{
	border: 3px solid #0046CE;
}
.blue-sidebar li:hover{
	border: none;
	border-bottom: 3px solid #0046CE;
	border-top: 3px solid #0046CE;
}
.violet-sidebar li{
	border: 3px solid #A72ACE;
}
.violet-sidebar li:hover{
	border: none;
	border-bottom: 3px solid #A72ACE;
	border-top: 3px solid #A72ACE;
}
.sidebar a{
	font-size: 18px;
	padding-left: 50px;
	position: relative;
	margin-top: 15px;
}
.red-sidebar a{
	color:#FF0000 ;
}
.yellow-sidebar a{
	color:#000;
}
.green-sidebar a{
	color: #34C72B;
}
.blue-sidebar a{
	color:#0046CE;
}
.violet-sidebar a{
	color: #A72ACE;
}
h3{
	text-decoration: underline;
	margin-top: 50px
}
h3.footer-header{
	margin-top: 0;
}
.contacts{
	color: #fff;
	float: left;
	font-size: 12px;
	width: 418px;
}
.contacts a{
	font-weight:700;
	color: #fff;
	font-size: 13px;
}
.contacts a:hover{
	text-decoration: underline;
}
.contacts p{
	line-height: 20px;
	margin-bottom: 0;
}
.contacts img{
	width: 50%;
	margin-top: 10px;
}
.mails{
	margin-top: 0;
	margin-bottom: 0;
}
.pre-footer{
	margin:0 0 0 192px;
}
footer{
	color: #fff;
	font-size: 8px;
	text-align: center;
}

@media screen and (max-width: 1910px) {
	.sidebar{
		float: none;
		margin-left: 192px;
		width: 1170px;
	}
	.sidebar li{
		float: left;
		width: 285px;
		margin-right: 6.5px;
	}
	.sidebar a{
		font-size: 15px;
	}
	.yellow-sidebar li,.green-sidebar li,.blue-sidebar li{
		width: 227px;
	}
	.green-sidebar a,.yellow-sidebar a{
		padding-left: 30px;
	}
	.blue-sidebar a{
		padding-left: 30px;
		margin-top: 6px;
	}
	menu ul{
		padding-left: 0;
	}
	.main,.sidebar,menu,.pre-footer,.cover img{
  	margin-left: 20%;
    }
}
@media screen and (max-width: 1900px){
	.main,.sidebar,menu,.pre-footer,.cover img{
  	margin-left: 15%;
    }
}
@media screen and (max-width: 1600px) {
  .main,.sidebar,menu,.pre-footer,.cover img{
  	margin-left: 13%;
  }
  menu ul{padding-left: 0; } }
@media screen and (max-width: 1450px){
  .main,.sidebar,menu,.pre-footer,.cover img{
  	margin-left: 6%;
  }
  menu ul{
  	padding-left: 0;
  }
  .contacts{
  	width: 30%;
  }
}
@media screen and (max-width: 1300px){
  .main,.sidebar,menu,.pre-footer,.cover img{
  	margin-left: 3%;
  }
  menu ul{
  	padding-left: 0;
  }
}
@media screen and (max-width: 1250px){
  .main,.sidebar,menu,.pre-footer,.cover img{
  	margin-left: 1.5%;
  }
  ul.group{
  	padding: 0;
  }
}
@media screen and (max-width: 1212px){
  .main,.sidebar,menu,.pre-footer,.cover img{
  	margin: 0;
  }
  .sidebar{
  	margin-top: 5px;
  }
  menu ul{
  	padding: 0;
  }
  .pre-footer{
  	margin-left: 5%;
  }
  .contacts p,.contacts a,.contacts h3{
  	font-size: 10px;
  	line-height: 10px;
  }
}
@media screen and (max-width: 1212px){
	a.aktuality,a.lecebna,a.info,a.procedury,a.foto,a.aktuality-selected,a.lecebna-selected,a.info-selected,a.procedury-selected,a.foto-selected{
		margin-left: 0;
		margin-right: 0;
	}
}
@media screen and (max-width: 1180px){
	.sidebar{
		width: 100%;
	}
	.sidebar li{
		width: 25%;
		margin-right: 0;
	}
	.yellow-sidebar li,.green-sidebar li,.blue-sidebar li,menu li{
		width: 20%;
	}
}
@media screen and (max-width: 1126px){
	menu li{
		font-size: 1.5em;
	}
	.sidebar a{
		padding-left:5%;
	}
	.red-sidebar a:nth-child(2){
		display: none;
	}
	.article{
		padding-left: 10%;
		padding-right: 10%;
		width: 100%;
	}
	.article img{
		max-width: 100%;
	}
}
@media screen and (max-width: 996px){
	.sidebar a{
		font-size: 13px;
	}
}
@media screen and (max-width: 825px){
	.sidebar a{
		margin-top: 5px;
		text-align: center;
	}
	.sidebar li{
		height: 45px;
	}
	.sidebar img{
		width: 25px;
		margin-top: 5px;
	}
	menu li{
		font-size: 1.25em;
	}
}
@media screen and (max-width: 745px){
	.sidebar li{
		float: none;
		border: none;
		display: inline;
	}
	.sidebar a{
		padding: 3px 0 3px 0;
	}
	.sidebar a:hover{
		text-decoration: underline;
	}
	.red-sidebar li{
		margin-left: 38%;
	}
	.red-sidebar a{
		font-size: 0.5em;
		padding: 0px 0 20px 0;
	}
	.red-sidebar li:first-child,.red-sidebar li:nth-child(2),.red-sidebar li:nth-child(3){
		display: none;
	}
	.sidebar li{
		border: none;
		margin-top: 3px;
	}
	.red-sidebar{
		border-top: 2px solid #FF0000;
	}
	.yellow-sidebar{
		border-top: 2px solid #F6CD00;
	}
	.green-sidebar{
		border-top: 2px solid #34C72B;
	}
	.blue-sidebar{
		border-top: 2px solid #0046CE;
	}
	.violet-sidebar{
		border-top: 2px solid #A72ACE;
	}
}
@media screen and (max-width: 720px){
	menu li{
		float: none;
		display: inline;
		padding: 0;
		margin-top: 3px;
	}
	menu{
		margin-top: 30px;
	}
	menu a{
		font-size: 1em;
		margin: 0;
		padding: 0;
	}
	a.aktuality,a.lecebna,a.info,a.procedury,a.foto,a.aktuality-selected,a.lecebna-selected,a.info-selected,a.procedury-selected,a.foto-selected{
		padding: 10px 0 10px 0;
		border: none;
	}
	.cover,.cover img{
		height: 100px;
	}
	.cover img{
		margin-left: 38%;
		margin-top: 15px;
	}
	.cover{
		background-image: none;
	}
	.red-sidebar a{
		padding-top: 0;
		margin-top: 0;
	}
	.violet-sidebar a{
	}
	.sidebar li{
		height: 63px;
	}
}
@media screen and (max-width: 516px){
	.cover img{
		margin-left: 30%;
		margin-top: 15px;
	}
}
